.navigation-links1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links1-text1 {
  margin-left: 32px;
}
.navigation-links1-text2 {
  margin-left: 32px;
}
.navigation-links1-text3 {
  margin-left: 32px;
}
.navigation-links1-navlink {
  margin-left: 32px;
  text-decoration: none;
}








@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links1-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-navlink {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.header1-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.header1-nav {
  display: flex;
}
.header1-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header1-login {
  border-width: 0px;
  margin-right: 32px;
  text-decoration: none;
}
.header1-register {
  text-decoration: none;
}
.header1-burger-menu {
  display: none;
}
.header1-icon {
  width: 16px;
  height: 16px;
}
.header1-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.header1-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header1-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.header1-image {
  height: 2rem;
}
.header1-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header1-icon02 {
  width: 16px;
  height: 16px;
}
.header1-icon04 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.header1-icon06 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.header1-icon08 {
  width: 16px;
  height: 16px;
}

@media(max-width: 767px) {
  .header1-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .header1-nav {
    display: none;
  }
  .header1-btn-group {
    display: none;
  }
  .header1-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .header1-header {
    padding: var(--dl-space-space-unit);
  }
  .header1-mobile-menu {
    padding: 16px;
  }
}

.login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.login-steps {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
}
.login-text {
  color: var(--dl-color-gray-black);
  font-size: 3rem;
}
.login-text03 {
  color: var(--dl-color-gray-700);
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.login-image {
  width: 200px;
  object-fit: cover;
  padding-top: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-fiveunits);
}
.login-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.login-step {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.login-line {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.login-container03 {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.login-icon {
  width: 24px;
  height: 24px;
}
.login-line1 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.login-container04 {
  width: 264px;
  height: 326px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.login-text06 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.login-text07 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.login-step1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.login-line2 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.login-container06 {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.login-icon2 {
  width: 24px;
  height: 24px;
}
.login-line3 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.login-container07 {
  width: 270px;
  height: 329px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.login-text10 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.login-text11 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.login-step2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.login-line4 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.login-container09 {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.login-icon4 {
  width: 24px;
  height: 24px;
}
.login-line5 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.login-container10 {
  width: 259px;
  height: 272px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.login-text14 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.login-text15 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.login-step3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.login-line6 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.login-container12 {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.login-icon6 {
  width: 24px;
  height: 24px;
}
.login-line7 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.login-container13 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.login-text18 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.login-text19 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.login-form {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-pricing {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.login-container14 {
  width: 100%;
  height: 679px;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: flex-start;
  justify-content: center;
}
.login-container15 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  margin-right: 32px;
  flex-direction: column;
}
.login-text23 {
  color: var(--dl-color-gray-500);
  margin-top: 32px;
  text-align: left;
  margin-bottom: 32px;
}
.login-container16 {
  flex: 2;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.login-container17 {
  flex: 1;
  height: 450px;
  display: flex;
  max-width: 450px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  padding-top: 32px;
  margin-right: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  background-color: var(--dl-color-gray-white);
}
.login-container17:hover {
  transform: scale(1.02);
}
.login-text24 {
  font-size: 1.5rem;
  font-weight: 600;
}
.login-text25 {
  font-family: "Merriweather";
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
}
.login-button {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.login-container18 {
  flex: 1;
  color: var(--dl-color-gray-white);
  height: 450px;
  display: flex;
  max-width: 450px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  background-color: var(--dl-color-gray-black);
}
.login-container18:hover {
  transform: scale(1.02);
}
.login-text36 {
  font-size: 1.5rem;
  font-weight: 600;
}
.login-text37 {
  margin-top: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-unit);
}
.login-text38 {
  font-weight: 700;
}
.login-text40 {
  font-style: normal;
}
.login-li1 {
  font-style: normal;
}
.login-text42 {
  font-style: normal;
}
.login-button1 {
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .login-text {
    text-align: center;
  }
  .login-text03 {
    text-align: center;
  }
  .login-container14 {
    align-items: center;
    flex-direction: column;
  }
  .login-container15 {
    align-items: center;
  }
  .login-text23 {
    text-align: center;
  }
  .login-container16 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .login-steps {
    padding-left: 32px;
    padding-right: 32px;
  }
  .login-container01 {
    align-items: flex-start;
    padding-left: var(--dl-space-space-fiveunits);
    flex-direction: column;
  }
  .login-step {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .login-container02 {
    width: 48px;
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .login-line1 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .login-container04 {
    width: 100%;
    align-items: flex-start;
    padding-top: 32px;
    flex-direction: column;
    padding-bottom: 32px;
    justify-content: space-between;
  }
  .login-text06 {
    margin-top: 32px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .login-text07 {
    text-align: left;
  }
  .login-step1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .login-container05 {
    width: 48px;
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .login-line2 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .login-line3 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .login-container07 {
    width: 100%;
    align-items: flex-start;
    padding-top: 32px;
    flex-direction: column;
    padding-bottom: 32px;
    justify-content: space-between;
  }
  .login-text10 {
    margin-top: 32px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .login-text11 {
    text-align: left;
  }
  .login-step2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .login-container08 {
    width: 48px;
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .login-line4 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .login-line5 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .login-container10 {
    width: 100%;
    align-items: flex-start;
    padding-top: 32px;
    flex-direction: column;
    padding-bottom: 32px;
    justify-content: space-between;
  }
  .login-text14 {
    margin-top: 32px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .login-text15 {
    text-align: left;
  }
  .login-step3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .login-container11 {
    width: 48px;
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .login-line6 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .login-line7 {
    border-color: transparent;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .login-container13 {
    width: 100%;
    align-items: flex-start;
    padding-top: 32px;
    flex-direction: column;
    padding-bottom: 32px;
    justify-content: space-between;
  }
  .login-text18 {
    margin-top: 32px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .login-text19 {
    text-align: left;
  }
  .login-container14 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .login-container16 {
    flex-direction: column;
  }
  .login-container17 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .login-container18 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .login-steps {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .login-container01 {
    padding-left: 0px;
  }
  .login-container04 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: 32px;
  }
  .login-text06 {
    margin-left: 0px;
    margin-right: 32px;
  }
  .login-container07 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: 32px;
  }
  .login-text10 {
    margin-left: 0px;
    margin-right: 32px;
  }
  .login-container10 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: 32px;
  }
  .login-text14 {
    margin-left: 0px;
    margin-right: 32px;
  }
  .login-container13 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: 32px;
  }
  .login-text18 {
    margin-left: 0px;
    margin-right: 32px;
  }
  .login-container14 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}
